{% extends "template.html" %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>{{ category.name }}</h1>
    <div>
      {% for product in products %}
      <div>
        <img
          src="{{ url_for('static', filename='uploads/' ~ product.image) }}"
          alt="{{ product.name }}"
        />
        <h2>{{ product.name }}</h2>
        <p>{{ product.description }}</p>
        <p>Price: ${{ product.price }}</p>
        <form
          action="{{ url_for('add_to_cart', product_id=product.id) }}"
          method="post"
        >
          <button type="submit">Add to Cart</button>
        </form>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
{% endblock %}
